legend Select a constraint type to edit constraints for each user type
- each constraint in constraints
  p
      a(href="#") 
        i.icon.icon-hand-right
        | &nbsp; #{constraint.explanation}