.modal-header
		a.close(data-dismiss="modal") ×
		h3 Item Details
	.modal-body
		table(class="table table-bordered")					
			- each item,key in details 				
				tr			
					td #{key}
					td #{item}
	.modal-footer
		- if ( user == "normal" && details.Borrowable == 1)
			.alert.alert-success.hide#reserve-status 
			a(href="#",class="btn btn-info",data-id="#{details.ItemID}",id="reserve-item-btn") Reserve		
		a(href="#",class="btn",data-dismiss="modal") Close