h2 Current Staff &nbsp;
	a(class="btn btn-primary")
		i(class="icon-white icon-plus")
		| Add New
hr
table(class="table table-striped")
	tr
		th Staff ID
		th Name
		th E-Mail
		th Date of Birth
		th No. of checked-out books
		th Amount of Charged Money
		th
	tr
		td 1
		td John Doe
		td john@doe.com
		td 31/12/1969
		td 500
		td 3465.00 TL
		td
			a(class="btn btn-danger", href="#reserve-book") 
				i(class="icon-white icon-trash") 
				| &nbsp; Delete Staff
	tr
		td 2
		td John Williams
		td john@williams.com
		td 31/12/1969
		td 134
		td 3465.00 TL
		td
			a(class="btn btn-danger", href="#reserve-book") 
				i(class="icon-white icon-trash") 
				| &nbsp; Delete Staff
	tr
		td 3
		td Anakin Skywalker
		td skywalker@jedi.edu
		td 31/12/1975
		td 51
		td 5315.34 TL
		td
			a(class="btn btn-danger", href="#reserve-book") 
				i(class="icon-white icon-trash") 
				| &nbsp; Delete Staff
	tr
		td 4
		td Jack Bauer
		td jack@ctu.gov
		td 1/1/1967
		td 10
		td 5 TL
		td
			a(class="btn btn-danger", href="#reserve-book") 
				i(class="icon-white icon-trash") 
				| &nbsp; Delete Staff
