
h2 Current Staff &nbsp;
	a(class="btn btn-primary",data-toggle="modal", href="#new-staff-modal")
		i(class="icon-white icon-plus")
		| Add New
hr
table(class="table table-striped")
	tr
		th.span2 Staff ID
		th.span4 Name
		th
	- each User in users 
		tr 
			td #{User.UserID}
			td #{User.Username}
			td
				a.btn.btn-primary.deactivate-staff(data-id="#{User.UserID}") Deactivate Forever
div.modal.fade.hide(id="new-staff-modal")
	div.modal-header
			a.close(data-dismiss="modal") ×
			h3 Add New Staff
		div.modal-body
			form(class="form-horizontal",id="addStaffForm")
				fieldset
					div(class="control-group")
						label(class="control-label") User Name
						div(class="controls")
							input(type="text",class="input-medium",id="name")
					div(class="control-group")
						label(class="control-label") Password
						div(class="controls")
							input(type="password",class="input-medium",id="password")
					div(class="control-group")
						label(class="control-label") Email
						div(class="controls")
							input(type="text",class="input-medium",id="email")							
					div(class="control-group")
						label(class="control-label") Birthday
						div(class="controls")
							input(type="text",class="input-medium",id="birthday")
		div.modal-footer
			a(href="#",class="btn btn-primary",id="addStaffBtn") Add Staff
			a(href="#",class="btn",data-dismiss="modal") Close