h1 Welcome, Mustafa!
div We have some interesting details about you.
table(class="table table-striped")
	tr
		th Membership ID
		td 20900755
	tr
		th Member Since
		td 22/07/2010
	tr
		th Membership Until
		td 21/12/2012				
	tr
		th Books Currently On You
		td 5
	tr
		th Books Reserved So Far
		td 50
	tr
		th Media Rooms Reserved So Far
		td 87
	tr
		th Books Borrowed So Far
		td 164
div(class="row")
	div(class="span6")
		div(class="alert alert-error")
			a(class="close",data-dismiss="alert") ×
			h3(class="alert-heading") You have many books !
			span You reachted the limit of the books that you can take away. Consider returning them, so another good people like you can read them also.
	div(class="span6")
		div(class="alert alert-warning")
			a(class="close", data-dismiss="alert") ×
			h3(class="alert-heading") Memership period ending!
			span Your membership is ending in 25 days, come to library to extend your membership and continue using benefits of the library.

